<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--이 mapper는 BoardMapper 인터페이스와 연결됨 namespace 값이 인터페이스의 풀패키지 경로와 같아야 함 -->
<mapper namespace="com.green.boardauth.application.board.BoardMapper">
    <insert id="postBoard">
            INSERT INTO board
            (title, contents, user_id )
            VALUES
            ( #{title}, #{contents}, #{userId} )
    </insert>
</mapper>
